<div class="ns-nav-container container-fluid sticky-top" role="navigation">
    <nav class="navbar navbar-expand flex-column flex-md-row container">
        <a href="{{ site.baseurl }}/"><span class="navbar-brand ns-navbar-brand">Neosys - Le blog</span></a>
        <ul class="navbar-nav flex-row">
            <li class="nav-item"><a class="nav-link ns-nav-link" href="{{ '/posts' | relative_url }}">Docs</a></li>
            <li class="nav-item"><a class="nav-link ns-nav-link" href="{{ '/staff' | relative_url }}">Blogueurs</a></li>
        </ul>
    </nav>
</div>