<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Le journal technique de Neosys" />
  <link rel="shortcut icon" href="{{ '/assets/images/favicon.png' | relative_url }}" type="image/png" />
  <link rel="apple-touch-icon" href="{{ '/assets/images/favicon.png' | relative_url }}" type="image/png">

  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>