<nav class="navbar navbar-expand-sm d-inline-flex align-items-start flex-column ns-sidebar">
    <span class="navbar-brand ns-right-bar-title">Suivez-nous</span>
    <ul class="navbar-nav d-inline-flex flex-column align-items-start">
        <li class="nav-item active"><a class="nav-link ns-right-bar-link" href="{{ site.social_network.linkedin_account }}"><i class="fa fa-linkedin ns-social-icon"></i> LinkedIn</a></li>
        <li class="nav-item active"><a class="nav-link ns-right-bar-link" href="{{ site.social_network.github_account }}"><i class="fa fa-github ns-social-icon"></i> GitHub</a></li>
        <li class="nav-item active"><a class="nav-link ns-right-bar-link" href="{{ site.social_network.facebook_account }}"><i class="fa fa fa-facebook-official ns-social-icon"></i> Facebook</a></li>
        <li class="nav-item active"><a class="nav-link ns-right-bar-link" href="{{ site.social_network.twitter_account }}"><i class="fa fa-twitter ns-social-icon"></i> Twitter</a></li>
    </ul>
</nav>