---
layout: default
---

<div>
  <h1 id="we-are">Qui sommes-nous ?</h1>
  <p>
    Nous sommes une équipe de développeurs et consultants (juniors et expérimentés) partageants notre savoir, nos
    retours d'expérience et notre joie de vivre au sein de Neosys.
  </p>
</div>

<div>
  <h1 id="we-do">Nos domaines d'expertise</h1>
  <p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Frameworks .NET et .NET Core</li>
      <li class="list-group-item">Sharepoint</li>
      <li class="list-group-item">Office 365</li>
      <li class="list-group-item">Azure</li>
      <li class="list-group-item">TFS + Azure DevOps</li>
      <li class="list-group-item">Docker + Kubernetes</li>
      <li class="list-group-item">Javascript et TypeScript</li>
      <li class="list-group-item">ReactJs et React Native</li>
      <li class="list-group-item">Talend</li>
      <li class="list-group-item">Et bientôt plus...</li>
    </ul>
  </p>
</div>

<div>
  <h1 id="issue">Un souci</h1>
  <p>
    <p>
      Vous avez une remarque, une correction (même d'orthographe &#129488 ), des informations complémentaires &#128073
      &nbsp;<a href="{{ site.github.prs_link }}">Créez une PR SVP</a>
    </p>

    <p>
      Vous rencontrez un problème de navigation sur notre blog &#128073
      &nbsp;<a href="{{ site.github.issues_link }}">Ouvrez une issue SVP</a>
    </p>
</div>