---
layout: default
---


<div class="container">
  <h1>Blogueurs</h1>
  <br />
  {% for author in site.authors %}
  <div class="row border border-gray p-2 mb-3">
    <div class="col-4 col-md-2">
      <img class="img-fluid rounded-circle" src="{{ author.profile_picture | relative_url }}" />
    </div>
    <div class="col-8 col-md-10">
        <h4><a href="{{ '/authors/' | append: author.short_name | relative_url }}" class="ns-blog-link">{{ author.name }}</a></h4>
        <h5 class="font-italic">{{ author.position }}</h5>
        
        {% if author.social_network %}
        <h6>

          {% if author.social_network.linkedin_account %}

          <a href="{{ author.social_network.linkedin_account }}" class="ns-personal-social-link"><i class="fa fa-linkedin"></i></a>

          {% endif %}

          {% if author.social_network.github_account %}

          <a href="{{ author.social_network.github_account }}" class="ns-personal-social-link"><i class="fa fa-github"></i></a>

          {% endif %}

          {% if author.social_network.facebook_account %}

          <a href="{{ author.social_network.facebook_account }}" class="ns-personal-social-link"><i class="fa fa fa-facebook-official"></i></a>

          {% endif %}

          {% if author.social_network.twitter_account %}

          <a href="{{ author.social_network.twitter_account }}" class="ns-personal-social-link"><i class="fa fa-twitter"></i></a>

          {% endif %}

        </h6>
        {% endif %}
        
        <h6>:earth_africa: {{ author.location }}</h6>
    </div>
    
  </div>
  {% endfor %}
</div>